<div class="conatiner">
  <h1 class="text-center">Movie lists</h1>
  <%= link_to 'Create list', new_list_path, class:"btn btn-primary" %>
  <% @lists.each do |list| %>
  <%= link_to list.name, list_path(list), class:"btn btn-primary" %>
  <% end %>
</div>
