<div class="conatiner">
  <h1 class="text-center">Movie lists</h1>
  <p class="btn btn-primary"><%= link_to 'Create list', new_list_path %></p>
  <% @lists.each do |list| %>
  <h3 class="text-center"><%= list.name %></h3>
  <% end %>
</div>
