

<div class="container">
  <h1>Movies List</h1>
  <div class="grid-column-gap:16px grid-row-gap:16px">
    <div class="row">
      <% @movies.each do |movie| %>
      <div class="col-sm" style="my-1">
        <div class="card" style="width: 20rem; height: 20rem; margin: 1rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
